*{
    margin: 0;
    padding: 0;

}
.titolo{
    text-align: center;
    background-image: url(wall.png);
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;

}
 #container{
 display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;

}
body{
  background-image: url(cork.png);
}
.card{
  width: calc(100% / 3 - (40px / 3));
  margin: 0 auto;
  justify-content: center;
  margin-top: 40px;
  position:relative;
}
.img-va{
  max-width: 100%;
  max-height: 100%;
}
.text{
  text-align: center;

}
.pin{
  position: absolute;
  left: 50%;
}
